<div class="title-bar">
  <h1>Artsit list</h1>
</div>
<div class="author-table-container">

    <div class="table-container row">
      <table>
        <thead>
          <tr>
            <th>ARTIST</th>
            <th>LABEL</th>
            <th>ALBUM</th>
            <th>STARTDATE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-12" *ngFor="let artist of artists">
            <td>
              <div class="author-details">
                <img [src]="artist.image" alt="Profile">
                <div>
                  <p class="author-name">{{ artist.name }} ({{artist.stageName}})</p>
                  <p class="author-email">{{ artist.publishingHouse }}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="function-role">{{ artist.label }}</p>
              <p class="function-department">{{ artist.rating }}</p>
            </td>
            <td>
              <span [class.online]="artist.status === 'ONLINE'" [class.offline]="artist.status === 'OFFLINE'">
                {{ artist.albums }}
              </span>
            </td>
            <td>
              {{ artist.startDate }}
            </td>
            <td class="edit-action">
              <button [routerLink]="['/detail', artist._id]" class="btn btn-primary">View Details</button>
            </td>
          </tr>
        </tbody>
      </table>
        <!-- <div class="col-12" *ngFor="let artist of artists">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ artist.name }} ({{ artist.stageName }})</h5>
              <p class="card-text">Label: {{ artist.label }}</p>
              <p class="card-text">Rating: {{ artist.rating }}</p>
              
            </div>
            <div class="container">
              <h2>Artists</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Stage Name</th>
                    <th>Label</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let artist of artists">
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.stageName }}</td>
                    <td>{{ artist.label }}</td>
                    <td>
                      <a [routerLink]="['/details', artist._id]" class="btn btn-info">Details</a>
                      <a [routerLink]="['/edit', artist._id]" class="btn btn-warning">Edit</a>
                      <button class="btn btn-danger" (click)="deleteArtist(artist._id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div> -->   
    </div>
  
    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="paginate(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="paginate(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
    <button class="btn" (click)="addArtist()">Add Artist</button>
  </div>
  