<div class="title-bar">
  <h1>Artsit list</h1>
</div>
<div class="author-table-container">

    <div class="table-container row">
      <table>
        <thead>
          <tr>
            <th>ARTIST</th>
            <th>LABEL</th>
            <th>ALBUM</th>
            <th>STARTDATE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-12" *ngFor="let artist of artists">
            <td>
              <div class="author-details">
                <img [src]="artist.image" alt="Profile">
                <div>
                  <p class="author-name">{{ artist.name }} ({{artist.stageName}})</p>
                  <p class="author-email">{{ artist.publishingHouse }}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="function-role">{{ artist.label }}</p>
              <p class="function-department">{{ artist.rating }}</p>
            </td>
            <td>
              <span [class.online]="artist.status === 'ONLINE'" [class.offline]="artist.status === 'OFFLINE'">
                {{ artist.albums }}
              </span>
            </td>
            <td>
              {{ artist.startDate }}
            </td>
            <td class="edit-action">
              <button [routerLink]="['/detail', artist._id]" class="btn btn-primary">View Details</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    <!-- Pagination -->
   
    <div class="pagination">
      <button class="page-item page-link" (click)="loadArtists(currentPage - 1)" [disabled]="currentPage === 1">
        Previous
      </button>
      
      <button class="page-item page-link" (click)="loadArtists(currentPage + 1)" [disabled]="currentPage === totalPages">
        Next
      </button>
      <span style="margin-left: 50px;">Page {{ currentPage }} of {{ totalPages }}</span>
    </div>
    
    <button style="margin-top: 15px;" class="btn btn-primary" (click)="addArtist()">Add Artist</button>
  </div>
  