<div class="artist-form-container">
  <h1>{{ isEditMode ? 'Edit Artist' : 'Add Artist' }}</h1>
  <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="artistId">Artist ID</label>
      <input
        id="artistId"
        type="text"
        formControlName="artistId"
        class="form-control"
        [readonly]="isEditMode"
      />
      <div *ngIf="artistForm.get('artistId')?.invalid && artistForm.get('artistId')?.touched">
        Artist ID is required.
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input id="image" type="text" formControlName="image" class="form-control" />
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" class="form-control" />
      <div *ngIf="artistForm.get('name')?.invalid && artistForm.get('name')?.touched">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="stageName">Stage Name</label>
      <input id="stageName" type="text" formControlName="stageName" class="form-control" />
      <div *ngIf="artistForm.get('stageName')?.invalid && artistForm.get('stageName')?.touched">
        Stage Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="albums">Number of Albums</label>
      <input id="albums" type="number" formControlName="albums" class="form-control" />
    </div>

    <div class="form-group">
      <label for="socialMedia">Social Media Links</label>
      <textarea id="socialMedia" formControlName="socialMedia" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="label">Label</label>
      <input id="label" type="text" formControlName="label" class="form-control" />
      <div *ngIf="artistForm.get('label')?.invalid && artistForm.get('label')?.touched">
        Label is required.
      </div>
    </div>

    <div class="form-group">
      <label for="publishingHouse">Publishing House</label>
      <input
        id="publishingHouse"
        type="text"
        formControlName="publishingHouse"
        class="form-control"
      />
      <div
        *ngIf="artistForm.get('publishingHouse')?.invalid && artistForm.get('publishingHouse')?.touched"
      >
        Publishing House is required.
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input id="startDate" type="date" formControlName="startDate" class="form-control" />
      <div *ngIf="artistForm.get('startDate')?.invalid && artistForm.get('startDate')?.touched">
        Start Date is required.
      </div>
    </div>

    <button type="submit" [disabled]="artistForm.invalid" class="btn btn-primary">
      {{ isEditMode ? 'Update Artist' : 'Create Artist' }}
    </button>
  </form>
</div>
