<div class="container">
  <h1>{{ isEditMode ? 'Edit Artist' : 'Add Artist' }}</h1>
  <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="artistName">Artist Name:</label>
      <input id="artistName" formControlName="artistName" type="text" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="stageName">Stage Name:</label>
      <input id="stageName" formControlName="stageName" type="text" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="numberOfAlbums">Number of Albums:</label>
      <input id="numberOfAlbums" formControlName="numberOfAlbums" type="number" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="rate">Rate:</label>
      <input id="rate" formControlName="rate" type="number" class="form-control" min="1" max="5" />
    </div>

    <div class="form-group">
      <label for="artistImage">Image File:</label>
      <input id="artistImage" type="file" (change)="onFileSelected($event)" class="form-control" required />
    </div>
    

    <div class="form-group">
      <label for="careerStartDate">Career Start Date:</label>
      <input id="careerStartDate" formControlName="careerStartDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="label">Label:</label>
      <input id="label" formControlName="label" type="text" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="publishingHouse">Publishing House:</label>
      <input id="publishingHouse" formControlName="publishingHouse" type="text" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="facebook">Facebook URL:</label>
      <input id="facebook" formControlName="facebook" type="url" class="form-control" />
    </div>

    <div class="form-group">
      <label for="instagram">Instagram URL:</label>
      <input id="instagram" formControlName="instagram" type="url" class="form-control" />
    </div>

    <div class="form-group">
      <label for="twitter">Twitter URL:</label>
      <input id="twitter" formControlName="twitter" type="url" class="form-control" />
    </div>

    <div class="form-group">
      <label for="youtube">YouTube URL:</label>
      <input id="youtube" formControlName="youtube" type="url" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
      {{ isEditMode ? 'Update Artist' : 'Create Artist' }}
    </button>
  </form>
</div>
