<!-- <div class="container">
    <h1>{{ artist.id ? 'Edit artist' : 'Add artist' }}</h1>
      <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" [(ngModel)]="newArtist.artistName" name="artistName" required>
  
        <label for="stageName">Stage Name:</label>
        <input type="text" id="stageName" [(ngModel)]="newArtist.stageName" name="stageName" required>
  
        <label for="numberOfAlbums">Number of Albums:</label>
        <input type="number" id="numberOfAlbums" [(ngModel)]="newArtist.numberOfAlbums" name="numberOfAlbums" required>
  
        <label for="rate">Rate:</label>
        <input type="number" id="rate" [(ngModel)]="newArtist.rate" name="rate" min="1" max="5" required>
  
        <label for="artistImage">Image URL:</label>
        <input type="url" id="artistImage" [(ngModel)]="newArtist.artistImage" name="artistImage" required>
  
        <label for="careerStartDate">Career Start Date:</label>
        <input type="date" id="careerStartDate" [(ngModel)]="newArtist.careerStartDate" name="careerStartDate" required>
  
        <label for="label">Label:</label>
        <input type="text" id="label" [(ngModel)]="newArtist.label" name="label" required>
  
        <label for="publishingHouse">Publishing House:</label>
        <input type="text" id="publishingHouse" [(ngModel)]="newArtist.publishingHouse" name="publishingHouse" required>
  
        <label for="facebook">Facebook URL:</label>
        <input type="url" id="facebook" [(ngModel)]="newArtist.facebook" name="facebook">
  
        <label for="instagram">Instagram URL:</label>
        <input type="url" id="instagram" [(ngModel)]="newArtist.instagram" name="instagram">
  
        <label for="twitter">Twitter URL:</label>
        <input type="url" id="twitter" [(ngModel)]="newArtist.twitter" name="twitter">
  
        <label for="youtube">YouTube URL:</label>
        <input type="url" id="youtube" [(ngModel)]="newArtist.youtube" name="youtube">
  
        <div class="buttons">
            <button type="submit" class="btn btn-primary" >
                {{ artist.id ? 'Update Crop' : 'Create Crop' }}
              </button>
        </div>
      </form>
  </div> -->