<div class="container">
   
    <h2>{{ artist.name }} ({{ artist.stageName }})</h2>
    <p>Image: {{ artist.image }}</p>
    <p>Label: {{ artist.label }}</p>
    <p>Rating: {{ artist.rating }}</p>
  
    <div>
      <label for="rating">Rate Artist:</label>
      <input type="number" id="rating" [(ngModel)]="userRating" min="1" max="5" />
      <button class="btn btn-primary" (click)="submitRating()">Submit</button>
      <button [routerLink]="['/edit', artist._id]" class="btn btn-warning">Edit</button>
      <button class="btn btn-danger" (click)="deleteArtist(artist._id)">Delete</button>
    </div>
  </div>
  